[submodule "dotnet-http"]
        path = dotnet-http
        url = https://github.com/samicpp/dotnet-http

# [submodule "website-files"]
#         path = personal
#         url = https://github.com/samicpp/website-files
